.Container {
  background-color: gainsboro;
  font-family: "Roboto", sans-serif;
}

#card {
  position: relative;
  background-color: white;
  width: 20rem;
}

#avatar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-size: 1.3rem;
  font-weight: 500;
  color: #797a76;
}

.form {
  width: 80%;
}

.inputWithIcon {
  position: relative;
}

input {
  width: 100%;
  height: 1rem;
  font-size: 0.8rem;
  background-color: #f2f2f2;
}

.true {
  border: 1px solid #00ff00;
}

.false {
  border: 1px solid #ff3333;
}

.icon {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f2f2f2;
}

button {
  width: 100%;
  height: 2rem;
  background-color: #3a7fc3;
  color: white;
  font-size: 1rem;
  transition: color 0.3s ease-in-out;
}

button:hover {
  background-color: #2a5fb9;
}

button:disabled,
button[disabled] {
  background: #bbbbbb;
  border: 1px solid #bbbbbb;
  color: #666666;
  cursor: not-allowed;
}

p {
  color: #797a76;
}

#success {
  background-color: #00ff00;
}

#error {
  background-color: #ff3333;
}

.show {
  visibility: visible;
}

.hidden {
  display: none;
}

svg {
  animation: 2s linear infinite svg-animation;
  width: 1.3rem;
  height: auto;
}

@keyframes svg-animation {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

circle {
  animation: 1.4s ease-in-out infinite both circle-animation;
  display: block;
  fill: transparent;
  stroke: white;
  stroke-linecap: round;
  stroke-dasharray: 283;
  stroke-dashoffset: 280;
  stroke-width: 10px;
  transform-origin: 50% 50%;
}

@keyframes circle-animation {
  0%,
  25% {
    stroke-dashoffset: 280;
    transform: rotate(0);
  }

  50%,
  75% {
    stroke-dashoffset: 75;
    transform: rotate(45deg);
  }

  100% {
    stroke-dashoffset: 280;
    transform: rotate(360deg);
  }
}
